<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>ETelefon</title>
        <%- include("../fragmente/head.ejs") %>
        <meta name="keywords" content="ETelefon, Telefon, Apple, Android, Huawei, Bucuresti, Romania, performanta, livrare la domiciliu, ridicare personala, Husa, Casti,  Incarcatoare, Folie de telefon">
        <meta name="description" content="ETelefon va ofera cele mai noi si performante telefoane la cele mai ieftine preturi! De la noi puteti sa luati si accesoriile dorite!">
        
    </head>
    <body>
        
        <%- include("../fragmente/header.ejs") %>
    <main>
        <div id="grid-pagina">
        <section id="welcome">
            <h2>Bine ati venit</h2>

            <%- include("../fragmente/formular-login.ejs") %>
            <button type="button" class="btn btn-primary btn-lg">Stil-1-mare</button>
            <p>Ip: <%= locals.ip %></p>
            <h2> <b>Cine suntem ? </b></h2>
            <p><b>ETelefon!</b> Suntem un magazin online de cumparare de telefoane.Avem produse diversificate, de la telefoane, casti, carcase de telefon pana la folii si incarcatoare. Realizam livrari peste tot in Romania in maxim 48 de ore de la plasarea comenzii ! <br/></p>
            <p>Ne afla pe Strada Nicolae Voda numaru 5 din Bucuresti si avem program in fiecare zi de luni pana vineri, de la ora 8:00 pana la <s>18:00</s><ins>16:00 din data de 24.3.2024.</ins></p>
            <p><q>Mi-e teamă de ziua în care tehnologia va fi mai importantă ca relaţiile interumane. În lume va exista o generaţie de idioţi. - Albert Einstrein</q> Nu lasati <b>tehnologia</b> sa va controleze viata, ea a fost creata ca sa ajute omul, nu sa il controleze! </p>
            <div id="container-video">
                <img class="farfurie" src="resurse/imagini/farfurie-flori-albastre.png" alt="farfurie">
                <div id="centrare-video">
                    <div id="clip-video">
                        <div id="stil-video">
                            <video width="320" height="240"  playsinline autoplay loop muted>
                                <source src="resurse/video/Chocolate.mp4" type="video/mp4">
                                <source src="resurse/video/Chocolate.ogv" type="video/ogv">
                                <track default src="data:image/png;base64, V0VCVlRUIC0gQ2lvY29sYXTEgwoKMDA6MDAuMDAwIC0tPiAwMDowMy4wMDAgbGluZTowClRFTEVGT0FORSEhCgowMDowMy4wMDAgLS0+IDAwOjA3LjAwMCBsaW5lOjAKU0kgTUFJIE1VTFRFIFRFTEVGT0FORSEhIQoKMDA6MDkuMDAwIC0tPiAwMDoxNC4wMDAgbGluZTowClVJVEUgVEVMRUZPTlVMISEhCgowMDoxNC41MDAgLS0+IDAwOjE5LjAwMCBsaW5lOjAKQ0UgRlJVTU9TU1NTIQoK" kind="captions" srclang="ro" label="romana">
                                <track src="data:image/png;base64, V0VCVlRUIC0gQ2hvY29sYXRlDQoNCjAwOjAwLjAwMCAtLT4gMDA6MDMuMDAwDQpQSE9ORVMhDQoNCjAwOjAzLjAwMCAtLT4gMDA6MDcuMDAwDQpNT1JFIFBIT05FUyENCg0KMDA6MDkuMDAwIC0tPiAwMDoxNC4wMDANCkxPT0sgQVQgVEhFIFBIT05FIQ0KDQowMDoxNC41MDAgLS0+IDAwOjE5LjAwMA0KV0hBVCBBIEJFQVVUSUZVTCENCg0K" kind="captions" srclang="en" label="engleza">
                            </video>
                        </div>
                    </div>
                </div>
            </div>
            
            <p> <h2>Promotii</h2>
                <section>
                    <h3>Telefoane</h3>
                    <p>Cauti cele mai noi telefoane ? Ai un telefon preferat de la <b>Apple</b>,<b>Android</b>, sau <b>Huawei</b> ? ETelefon ti le ofera pe toate la <b>el mai mic pret</b>. Produsele noastre sunt <b>cele mai performante</b> si la cel <b>mai mic pret</b>! Nu uitati sa verificati produsele care sunt la promotie !</p>
                    <h3>Accesorii</h3>
                    <p>Ti-ai luat un telefon si ai uitat sa iti iei o <b>pereche de casti </b>? S-a stricat <b>incarcatorul </b> vechi si ai nevoie de unul nou ? Ai un frate mai mic care se joaca cu telefonul tau si vrei o <b>protectie de sticla</b>sau o <b>folie</b>ca sa il protejezi ? ETelefon ti le poate oferi pe toate la cel mai bun pret! Nu uita sa accesezi promotiile pe care ti le oferim !</p>
                    <p><strong>Nu uitati ca la cate 2 produse cumparate din orice gama, al treilei o sa vina la jumatate de pret + un produs din gama "Casti de telefon" care este scazut la o treime din pretul final!</strong></p>
                                <h3>Imagine Duotone</h3>
                                    <div id="imagine-duotone"></div>
            
                    <p> <div id="container">
                        <div id="text">Un text reflectat</div>
                        <div id="text-reflectat">Un text reflectat</div>
                      </div></p>
                    <details><summary>Intrebari Frecvente</summary>
                        <p><ul>
                            <li>
                                Retur la cerere
                            </li>
                            <li>
                                Garantie 12 luni
                            </li>
                            <li>
                                Livrarea in maxim 48 de ore
                            </li>
                        </ul></p>
                        </details>
                    <figure>
                        <picture>
                            <source srcset="./resurse/imagini/telefoane.jpg" media="(max-width:500px)"/>
                            <source srcset="./resurse/imagini/casti.jpg" media="(max-width:1000px)"/>
                            <img src="./resurse/imagini/carcase.jpg" alt="text"/>
                        </picture>
                        <figcaption>Telefoane si Accesorii</figcaption></p></section> <div class="line-container">
    </div>
        </section>
        <section id="utilizatori">
                <p>
                    Lorem  ipsum
                </p>
        </section>
        <section id="statistici">
                <p>
                    Lorem ipsum
                </p>
        </section>
        <section id="site">
                <p>
                    Lorem ipsum
                </p>
        </section>
        <section id="evenimente">
                <p>
                    Lorem ipsum
                </p>
        </section>
        <section id="anunturi">
            <p>
                Lorem Ipsum
            </p>
            </section>
    </section>
        <section id="tabel">
            <table>
                <thead>
                    <tr>
                        <th>Cod</th>
                        <th>Perioadă</th>
                        <th>Zi</th>
                        <th>Interval dimineata</th>
                        <th>Pauza de masa</th>
                        <th>Interval seară</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td rowspan="5">Zile<br/>Lucrătoare</td>
                        <td>Luni</td>
                        <td>10-12</td>
                        <td>12-14</td>
                        <td>14-20</td>
                    </tr>
                    <tr>
                        <td></td>

                        <td>Marti</td>
                        <td>9-12</td>
                        <td>12-14</td>
                        <td>14-21</td>
                    </tr>
                    <tr>
                        <td></td>

                        <td>Miercuri</td>
                        <td>9-11</td>
                        <td>11-13</td>
                        <td>14-21</td>
                    </tr>
                    <tr>
                        <td></td>

                        <td>Joi</td>
                        <td>9-11</td>
                        <td>11-13</td>
                        <td>14-21</td>
                    </tr>
                    <tr>
                        <td></td>

                        <td>Vineri</td>
                        <td>9-12</td>
                        <td>12-14</td>
                        <td>14-19</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td rowspan="2">Weekend</td>
                        <td>Sambata</td>
                        <td>10-12</td>
                        <td>12-13</td>
                        <td>13-16</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Duminica</td>
                        <td>10-14</td>
                        <td>-</td>
                        <td>inchis</td>
                    </tr>
                </tbody>
                <tfoot><tr><td colspan="6">Închis cu ocazia sărbătorilor legale sau când ne e mai lene așa.</td></tr></tfoot>
            </table></p>
        </section>
        </figure>
        <section id="diverse">
        <div id="diverse" class="container-iframe">
            <div class="taburi-iframe">
            <a class="tab1" href="https://www.youtube.com/embed/kquBQ-ZpD-I?si=peWuN5xHnHswfNTR" target="ifr-video">Prezentare Telefoane</a>
            <a class="tab2" href="https://www.youtube.com/embed/d72ycw1fNac?si=qV1sFDj8VHG9jkIG" target="ifr-video">Comparatie Casti</a>
            </div>
        <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/kquBQ-ZpD-I?si=peWuN5xHnHswfNTR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        </section>
        <br/>
        <br/>
    </div>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/resurse/imagini/produse/Samsung Galaxy A35.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
              <h5>Samsung Galaxy A35</h5>
              <p>Telefon Samsung Galaxy A35 5G,128GB,6GB RAM, Dual SIM, Awesome Navy.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/resurse/imagini/produse/Samsung Galaxy A55.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
              <h5>Samsung Galaxy A55</h5>
              <p>Telefon SAMSUNG Galaxy A55 5G, 128GB, 8GB RAM, Dual SIM, Awesome Navy.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/resurse/imagini/produse/Motorola Edge 50 Pro 5G.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
              <h5>Motorola Edge 50 Pro 5G</h5>
              <p>Telefon MOTOROLA Edge 50 Pro 5G, 512GB, 12GB RAM, Dual SIM, Moonlight Pearl.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/resurse/imagini/produse/Apple iPhone15 5G.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
              <h5>Apple iPhone15 5G</h5>
              <p>Telefon APPLE iPhone 15 5G, 256GB, Pink.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/resurse/imagini/produse/Apple iPhone11.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
              <h5>Apple iPhone11</h5>
              <p>Telefon APPLE iPhone 11, 128GB, White.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>



    <section id="galerie-statica">
        <h2>Galerie</h2>
        <div id="grid-galerie">
        <%  
            var vLuni=["ianuarie","februarie","martie","aprilie","mai","iunie","iulie","august","septembrie","octombrie","noiembrie","decembrie"];
            var d=new Date()
            var lunaCurenta=vLuni[d.getMonth()];
        for (let imag of locals.imagini){ 
            if (imag?.luni?.includes(lunaCurenta)){
            %>
                <figure>
                    <img class="imaginigalerie" src="<%= imag.fisier %>" alt="briose">
                    <figcaption class="textgalerie"><%= imag.titlu%></figcaption>
                </figure>
            <%} %>
        <%} %>
        
        </div>
    </section>



    
    
    </main>

    <%- include("../fragmente/footer.ejs") %>
</body>
</html>
